@import "../styles/variables\ .scss";
.about img {
  margin: auto;
  width: 94%;
  height: 223px;
  @include flex-center-center;
  background-size: cover;
  background-position: center;
  @include radius-25;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  @include phone {
    height: 111px;
  }
}
.collapse {
  margin-bottom: 50px;

  .collapse-header {
    margin: auto;
    background-color: $primary-color;
    color: $third-color;
    width: 85%;
    height: 20px;
    @include flex-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: $font-primary;
    transition: max-height 2s ease;

    h2 {
      font-size: $font-size-title;
      font-family: $font-primary;
    }

    .fa-chevron-up {
      transition: transform 0.5s ease;
      font-size: $font-size-title;
    }

    .fa-chevron-up.active {
      transform: rotate(-180deg);
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    width: 85%;
    padding: 0;
    border-radius: 5px;
    font-size: $font-size-medium;
    font-family: $font-primary;

    &.active {
      max-height: 500px;
      opacity: 1;
      padding: 20px;
    }
  }
}
