.banner {
  margin: auto;
  width: 94%;
  height: 223px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  border-radius: 25px;


&::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 223px;
  border-radius: 25px;
  background-color: rgba(
    0,
    0,
    0,
    0.2509803922
  ); 
  z-index: 1;
}
h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem; 
}
}