@import "../styles/variables\ .scss";

footer {
  margin-top: auto;
  width: 100%;
  padding: 60px 0 25px;
  background-color: black;

  .footer_content {
    @include flex-column-center;
    color: $third-color;
    width: 100%;

    img {
      height: 40px;
    }

    p {
      font-size: $font-size-medium;
    }
  }
}
