@import "../styles/variables\ .scss";
.navbar {
  @include flex-between; 
  padding: 30px 50px;
  background-color: $third-color; 

  img {
    width: 210.32px;
    height: 68px;
  }

  ul {
    list-style-type: none;
    @include flex-start; 
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: $text-color; 
        font-size: $font-size-title; 

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
