@import "../styles/variables\ .scss";
.property-details {
  display: flex;
  flex-direction: column;
  
  .description {
    @include flex-between; 
    @include phone {
      flex-direction: column;
  }
    .info {
      padding-left: 50px;
   
      @include phone{
        padding-left: 25px;
        
        
      }

      h1 {
        color: $primary-color;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 5px;
        font-family: $font-primary;

      }

      p {
        font-size: $font-size-large; 
        font-weight: 500;
        margin-top: 0; 
        margin-bottom: 10px;
      }

      .tags {
        @include flex-start; 
        gap: 10px;
        padding-top: 15px;

        p {
          background-color: $primary-color; 
          color: $third-color; 
          padding: 5px 10px;
          @include radius-10; 
        }
      }
    }
  }
}

.info2 {
  @include flex-column; 
  align-items: flex-end;
 
  @include phone {
    
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%; // Prendre toute la largeur en mobile
    padding: 0 25px; // Ajuster les marges à gauche et à droite
  }

}

.host {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
  padding-top: 30px;
  gap: 10px;
  @include phone {
    justify-content: flex-end; /* Host sera à droite */
    
  }
  p {
    font-size: $font-size-large; 
    font-family: $font-primary;
    font-weight: bold;
    color: $primary-color; 
    margin: 0;
  }

  img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
}

.rating {
  display: flex;
  justify-content: flex-end;
  align-items: end; 
  gap: 10px;
  margin-top: 10px;
  padding-right: 50px;
  height: 36px;
  @include phone {
    justify-content: flex-start; /* Rating sera à gauche */
    
  }

  i {
    font-size: 24px;
  }
}

.property-collapse {
  @include flex-between; 
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  @include phone{
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
    
  }

  .collapse {
    width: calc(100% - 100px);
    margin: 0 25px;
    display: inline-block;
    @include phone{
      width: 100%;
      margin: auto
      
    }

    ul {
      @include flex-column; 
      margin: 0;
      padding: 0;
      gap: 2px;
      list-style: none;
    }
  }
}
